.class {
    background-color:  #d7d1d8;
}
.Agendamento-definitivo-1-hex { color: #6b49f2a9; }
.Agendamento-definitivo-4-hex { color: #f2e149b4; }
.Agendamento-definitivo-2-hex { color: #f28b79c0; }
.Agendamento-definitivo-3-hex { color: #f9f8ff; }
/* Color Theme Swatches in Hex */
.Agendamento-definitivo-1-hex { color: #6B49F2; }
.Agendamento-definitivo-2-hex { color: #F28C79; }
.Agendamento-definitivo-3-hex { color: #7E62F3; }
.Agendamento-definitivo-4-hex { color: #F2E049; }
.Agendamento-definitivo-5-hex { color: #55F2B1; }

/* Color Theme Swatches in RGBA */
.Agendamento-definitivo-1-rgba { color: rgba(107, 73, 242, 1); }
.Agendamento-definitivo-2-rgba { color: rgba(242, 140, 121, 1); }
.Agendamento-definitivo-3-rgba { color: rgba(126, 98, 243, 1); }
.Agendamento-definitivo-4-rgba { color: rgba(242, 224, 73, 1); }
.Agendamento-definitivo-5-rgba { color: rgba(85, 242, 177, 1); }

